#box_titulo {
    width: 100%;
    border: solid 1px lightblue;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
}

#titulo_principal {
    text-align: center;
    /*font-family: 'Andada Pro', serif;*/
    /*font-family: Arial, Helvetica, sans-serif;*/
}

body {
    font-family: 'Andada Pro', serif;
}

#cuestionario {
    margin: auto;
    width: 100%;
    border: solid 1px lightcoral;
    /*display: none;*/
    text-align: center;
    /*justify-content: center;
    align-items: center;
    flex-direction: column;*/
}

.preguntas {
    margin: auto;
    /*border: solid 2px rgb(27, 160, 160);*/
    /*height: 300px;
    width: 550px;*/
}

.botones {
    margin:auto;
}

button {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(189,70,252,1) 100%);
   /* background-color: #4CAF50;*/
    border: none;
    color: white;
    font-size: 16px;
}

button:hover {
    box-shadow: 2px 2px 10px #a8a8a8;
}

#tanque {
    height: 150px;
    width: 150px;
}