#box_titulo {
    border: solid 1px lightblue;
}

#titulo_principal {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#intro {
    border: solid 2px lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cuestionario {
    border: solid 2px lightcoral;
    display: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/*#anterior_2 {
    float:left;
}*/